## Exercícios Sessão 2 ( 1 - 8 )

#### 1. Crie uma variável do tipo int, aplicando o método de atribuião direto:

In [4]:
p = 123
z = 321

print(p,z)

123 321

#### 2. Crie uma variável do tipo str, usando método casting:

In [7]:


x1 = str('Diego')
x2 = str('Andrade')

print(x1 +' ' + x2)

Diego Andrade

#### 3. Faça a conversão de uma VAR do tipo float para str, e faça o output do tipo de variável final

In [9]:
z = 32.75

z1 = str(z)

print(z1)
type(z1)

32.75

str

#### 4. Identifique quais os tipos de variáveis são corretos.

In [ ]:
"""
A) hello_world = 2    - CORRETO
B) 1hello_world = 2   - INCORRETO / VAR iciada com número
C) Hello_World = 2    - CORRETO
D) _hello-world = 2   - INCORRETO / VAR com caracter matemático (-)
E) -hello_World = 2   - INCORRETO / VAR com caracter matemático (-)
F) helloWorld = 2     - CORRETO 

"""


hello_world = 2
type(hello_world)

1hello_world = 2
type(1hello_world)

Hello_World = 2
type(Hello_World)

_hello-world = 2
type(_hello-world)

-hello_World = 2
type(-hello_World)

helloWorld = 2
type(helloWorld)

#####  5. Faça um programa que o utilizador introduz o seu nome, e no output apresenta o mesmo e o tipo da variável que o seu nome ficou atribuido

In [39]:
myInput = input('Introduza seu nome, por favor:')

print('O nome introduzido foi: ',myInput, 'e é uma VAR do tipo ', type(myInput))

O nome introduzido foi:  Diego e é uma VAR do tipo  <class 'str'>

#### 6. Atribua o mesmo elemento a três variáveis distintas, usando apenas uma linha de comando

In [41]:
b1 = ' Silva'
b2 = ' Andrade'
b3 = ' Santos'

print(myInput + b1 + b2 + b3)

Diego Silva Andrade Santos

#### 7. Crie cinco variáveis do tipo str e coloque um output que apresente as mesmas, uma em cada linha.

In [47]:
c1 = 'João'
c2 = 'Maria'
c3 = 'Pedro'
c4 = 'Márcia'
c5 = 'Diego'

print(c1,'\n',c2,'\n',c3,'\n',c4,'\n',c5)

João
 Maria
 Pedro
 Márcia
 Diego

#### 8. Atribua três numeros distintos a três variáveis distintas, usando apenas uma linha de comando. Coloque um output que apresente a soma dessas três variáveis.

In [ ]:
#