## Exercício 1

In [11]:
x = 123234432432

### Exercício 2

In [12]:
nome = str(1561681556)

### Exercício 3

In [13]:
flt = 1.3

flt_str = str(flt)

print(type(flt_str))

<class 'str'>

In [14]:
type(flt_str)

str

### Exercício 4

In [15]:
'''
Respostas corretas

A) C) F)


'''

'\nRespostas corretas\n\nA) C) F)\n\n\n'

### Exercício 5

In [16]:
userInput = input("Introduza o seu nome")
print("A variável introduzida foi " + userInput + "\nO tipo de variável introduzido é\n" + str(type(userInput)))

A variável introduzida foi Joao
O tipo de variável introduzido é
<class 'str'>

In [17]:
print("A variável introduzida foi " + userInput + "\nO tipo de variável introduzido é\n",type(userInput))

A variável introduzida foi Joao
O tipo de variável introduzido é
 <class 'str'>

In [18]:
type(userInput)

str

### Exercício 6

In [19]:
var1 = var2 = var3 = 'João'

### Exercício 7

In [20]:
var1 ='Programar'
var2 ='em'
var3 ='Python'
var4 ='é'
var5 ='espetacular'

var1 , var2 , var3 , var4 , var5 = 'Programar', 'em','Python','é','espetacular'

print(var1 + '\n' + var2 + '\n' + var3+ '\n' + var4 + '\n' + var5)

#print(var1 , '\n' , var2 + '\n' , var3 , '\n' , var4 , '\n' , var5)

Programar
em
Python
é
espetacular

### Exercício 8

In [21]:
var1 , var2 , var3 = 1, 2 ,3

print(var1 + var2 + var3)

6

### Exercício 9

In [22]:
pnome = input('Introduza o seu primeiro nome:')
unome = input('Introduza o seu ultimo nome:')
idade = int(input('Introduza a sua idade:'))
peso = float(input('Introduza o seu peso:'))


print("Modo referências\nO seu nome é %s %s,\ncom %d de idade\ne tem %0.1f kg." % (pnome, unome, idade, peso ))

# %d ou %i corresponde a uma variável do tipo inteiro

print(f"Modo fstring\nO seu nome é {pnome} {unome},\ncom {idade} de idade\ne tem {peso} kg.")

print("Modo format\nO seu nome é {} {},\ncom {} de idade\ne tem {} kg.".format(pnome,unome,idade,peso))

Modo referências
O seu nome é Joao Araujo,
com 40 de idade
e tem 78.3 kg.
Modo fstring
O seu nome é Joao Araujo,
com 40 de idade
e tem 78.3 kg.
Modo format
O seu nome é Joao Araujo,
com 40 de idade
e tem 78.3 kg.

### Exercício 10

In [23]:
lista = ['Olá','o','meu', 'nome', 'é', 'João']

#Fazer print do elemento João
print(lista[5])

João

In [33]:
userLista = []
userLista.append(input('Introduza o primeiro elemento'))
userLista.append(input('Introduza o segundo elemento'))
userLista.append(input('Introduza o terceiro elemento'))
userLista.append(input('Introduza o quarto elemento'))
userLista.append(input('Introduza o cinco elemento'))
userLista.append(input('Introduza o sexto elemento'))

print(userLista[5])

40

In [34]:
var1 = input('Introduza o primeiro elemento')
var2 = input('Introduza o segundo elemento')
var3 = input('Introduza o terceiro elemento')
var4 = input('Introduza o quarto elemento')
var5 = input('Introduza o quinto elemento')

userlista2 = [var1,var2,var3,var4,var5]

print(userlista2[4])

Olá

In [35]:
userlista3 = [input('Introduza o primeiro elemento'),input('Introduza o segundo elemento'),input('Introduza o terceiro elemento'),input('Introduza o quarto elemento'),input('Introduza o quinto elemento')]

print(userlista3[1])

Araújo

### Exercício 11

In [36]:
# Exercício 11

nomes = {"nome1" : "João", "nome2" : "António", "nome3" : "Maria", "nome4" : "Susana", "nome5" : "Beatriz"}
idades = {"idade1" : 37, "idade2" : 28, "idade3" : 20, "idade4" : 35, "idade5" : 26}
profissoes = {"profissao1" : "Engenheiro Electrotécnico", "profissão2" : "Engenheiro Informático", "profissão3" : "Gestora Industrial", "profissão4" : "Contabilista", "profissão5" : "Administrativa"}

#Utilizador introduz o nome
input_nome = input("Escreva o nome de uma pessoa.")
#Criar uma lista com as palavras chave do dicionário nomes
lista_indice_nomes = list(nomes.keys())
#Criar uma lista para cada conteúdo de todos os dicionários
lista_nomes = list(nomes.values())
lista_idades = list(idades.values())
lista_profissoes = list(profissoes.values())
#Extrair o indíce na lista_nomes que corresponde ao nome introduzido pelo utilizador
indice_nome = lista_nomes.index(input_nome)
#Colocar no output o nome, idade e profissão que correspondem ao indice encontrado
print('Nome: %s \nIdade: %s \nProfissão: %s' % (lista_nomes[indice_nome], lista_idades[indice_nome], lista_profissoes[indice_nome]))

Nome: Maria
Idade: 20
Profissão: Gestora Industrial

In [30]:
nomes_keys_list = list(nomes.keys())

print(nomes_keys_list)

nomes_values_list = list(nomes.values())

print(nomes_values_list)

['nome1', 'nome2', 'nome3', 'nome4', 'nome5']
['João', 'António', 'Maria', 'Susana', 'Beatriz']

In [31]:
nomes = {"nome1" : "João", "nome2" : "António", "nome3" : "Maria", "nome4" : "Susana", "nome5" : "Beatriz"}
idades = {"idade1" : 37, "idade2" : 28, "idade3" : 20, "idade4" : 35, "idade5" : 26}
profissoes = {"profissao1" : "Engenheiro Electrotécnico", "profissão2" : "Engenheiro Informático", "profissão3" : "Gestora Industrial", "profissão4" : "Contabilista", "profissão5" : "Administrativa"}


var1 = list(nomes.keys())
var2 = list(idades.keys())

var3 = list(nomes.values())

### Alternativa

In [40]:
#var = input('Introduza o primeiro nome')
myDict={
    'João' : {"nome" : 'João', "idade" : "38 ", "profissão" : 'Programador'},
    'Paulo' : {"nome" : "Paulo", "idade" : "40" , "profissão" : 'Padeiro'},
    'Ana' : {"nome" : "Ana", "idade" : "37" , "profissão" : 'Vendedora'},
    'Emília' : {"nome" : "Emília", "idade" : "52" , "profissão" : 'Motorista'},
    'Pedro' : {"nome" : "Pedro", "idade" : "44" , "profissão" : 'Segurança'}
}

varPessoas=input('Digite o nome de uma pessoa para saber mais informações: ')

print('Nome: ' + myDict[varPessoas]['nome'] + '\nIdade: ' + myDict[varPessoas]['idade'] +'\nProfissão:', myDict[varPessoas]['profissão'])

KeyError: 'gdfgdfbcv'

### Exercício 12

In [41]:
var = "FormaçãodePythonéespetacular"

var = var[:8] + " " + var[8:10] + " " + var[10:16] + " " + var[16] + " " + var[17:]
print(var)

Formação de Python é espetacular

In [ ]:
var = "FormaçãodePythonéespetacular"

#var = var[:8] , var[8:10] , var[10:16] , var[16] , var[17:]
print(var[:8] , var[8:10] , var[10:16] , var[16] , var[17:])

Formação de Python é espetacular

In [ ]:
x='FormaçãodePythonéespetacular'
y=x[0:8] + " " + x[8:10] + " " + x[10:16] + " " + x[16] + " " + x[-11:]
print(y)

Formação de Python é espetacular

### Exercício 13

In [42]:
pessoa_1 = {"nome" : 'João', "idade": 37, "profissão": "Eng."}
pessoa_2 = {"nome" : 'Maria', "idade": 28, "profissão": "fsdf."}
pessoa_3 = {"nome" : 'Miguel', "idade": 45, "profissão": "sdf."}
pessoa_4 = {"nome" : 'José', "idade": 33, "profissão": "sdf."}
pessoa_5 = {"nome" : 'António', "idade": 22, "profissão": "fghfg."}


lista_pessoas = [pessoa_1["idade"], pessoa_2["idade"], pessoa_3["idade"], pessoa_4["idade"], pessoa_5["idade"]]

lista_pessoas11 = list(idades.values()) # Primeiro dicionário criado na pergunta 11

print(lista_pessoas)

print(lista_pessoas11)

[37, 28, 45, 33, 22]
[37, 28, 20, 35, 26]

In [43]:
lista_pessoas= [myDict['João']['idade'], myDict['Paulo']['idade'], myDict['Ana']['idade'], myDict['Emília']['idade'],myDict['Pedro']['idade']]

print(lista_pessoas)

['38 ', '40', '37', '52', '44']

In [44]:
Dicionario = {
    0 : {'Nome' : input('Nome'), 'idade' : 35, 'profissão' : 'professor'},
    1 : {'nome' : input('Nome'), 'idade' : 18, 'profissão' : 'farmaceutico'},
    2 : {'nome' : input('Nome'), 'idade' : 19, 'profissão' : 'farmaceutico1'},
    3 : {'nome' : input('Nome'), 'idade' : 19, 'profissão' : 'farmaceutico2'},
    4 : {'nome' : input('Nome'), 'idade' : 35, 'profissão' : 'tecnica'}
}

varDictValue0 = Dicionario[0]['idade']
varDictValue1 = Dicionario[1]['idade']
varDictValue2 = Dicionario[2]['idade']
varDictValue3 = Dicionario[3]['idade']
varDictValue4 = Dicionario[4]['idade']
idades_var = varDictValue0, varDictValue1 , varDictValue2 , varDictValue3, varDictValue4 # Cria um tuple
idades_var_1 = (varDictValue0, varDictValue1 , varDictValue2 , varDictValue3, varDictValue4) # Cria um tuple
print(list(idades_var))

[35, 18, 19, 19, 35]

### Exercício 14

In [45]:
val1 = input("Introduza o primeiro valor.")
val2 = input("Introduza o segundo valor.")

val1_float = float(val1)
val2_float = float(val2)
print(val1_float * val2_float)

625.0

In [47]:
val1 = float(input("Introduza o primeiro valor."))
val2 = float(input("Introduza o segundo valor."))

print(val1 * val2)

ValueError: could not convert string to float: 'h'

In [50]:
var = '15,12555'

var_1 = var.replace(',','.')

In [51]:
float(var_1)

15.12555

### Exercício 15

In [53]:
val = input("Introduza um numero.")

val_float = float(val)
# Resto da divisão 
resto_divisao = val_float % 2
#Se o resto da divisão for 0, então o numero é par
print(resto_divisao == 0)

True

In [55]:
val = input("Introduza um numero.")

val_float = float(val)
# Resto da divisão 
resto_divisao = int(val_float % 2)
#Se o resto da divisão for 0, então o numero é par
res_lis = ['O numero é par', 'O numero é impar']
print(res_lis[resto_divisao])

O numero é par

### Exercício 16

In [56]:
# Primeiro dicionário criado na pergunta 11
print(nomes["nome1"] == "João")
print(nomes["nome2"] == "João")
print(nomes["nome3"] == "João")
print(nomes["nome4"] == "João")
print(nomes["nome5"] == "João")

True
False
False
False
False

In [59]:
# Segundo dicionário criado na pergunta 11
print('João' in myDict)

True

In [67]:
print(str(Dicionario[0]))
str(Dicionario[0]).find('No') # Não recomendado para utilizar pesquisa em dicionários

{'Nome': 'João', 'idade': 35, 'profissão': 'professor'}

2

In [ ]:
varDict = {
    0:{'nome':'João', 'idade':39, 'profissão': 'Programador'},
    1:{'nome':'Helder', 'idade':38, 'profissão': 'Contabilista'},
    2:{'nome':'Joaquim', 'idade':60, 'profissão': 'Agricultor'},
    3:{'nome':'Liliana', 'idade':27, 'profissão': 'Business Analist'},
    4:{'nome':'Maia', 'idade':65, 'profissão': 'Doméstica'}
}

In [ ]:
varDictValue = list(varDict.values())
print(varDictValue)
print('João' in varDictValue)

'João' in varDictValue[0].values()

[{'nome': 'João', 'idade': 39, 'profissão': 'Programador'}, {'nome': 'Helder', 'idade': 38, 'profissão': 'Contabilista'}, {'nome': 'Joaquim', 'idade': 60, 'profissão': 'Agricultor'}, {'nome': 'Liliana', 'idade': 27, 'profissão': 'Business Analist'}, {'nome': 'Maia', 'idade': 65, 'profissão': 'Doméstica'}]
False

True

### Exercício 17

In [68]:
num1 = input("Introduza o primeiro numero.")
num2 = input("Introduza o segundo numero.")
num3 = input("Introduza o terceiro numero.")

num1 = float(num1)
num2 = float(num2)
num3 = float(num3)

print(num1 , num1 > 0 and num1 <= 10 and num1 != 7)

print(num2, num2 > 0 and num2 <= 10 and num2 != 7)

print(num3, num3 > 0 and num3 <= 10 and num3 != 7)

7.0 False
10.0 True
0.0 False

In [70]:
if num1 > 0 and num1 <= 10 and num1 != 7:
    print('Condição Verdadeira')
else:
    print('Condição Falsa')

Condição Falsa